:root {
    background-color: rgb(255, 252, 247);
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-bottom: 3rem;
}

.table-of-content {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 2rem;
}

li {
    font-weight: bold;
    margin: 10px 0;
}

.box {
    border: 1px solid black;
    padding: 10px;
    margin: 20px 0;
}

#menu {
    display: flex;
    margin: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: rgb(196, 196, 196);
    font-size: 0.9rem;
}

.navbar {
    display: flex;
    list-style-type: none;
    margin: 0 10px;
    padding: 0;
}

.nav-item {
    margin: 0 10px;
}

.link {
    text-decoration: none;
    color: black;
    font-weight: normal;
}

.link:hover {
    color: rgb(55, 85, 255);
}

.container {
    padding: 10px;
}