:root {
    background-color: rgb(255, 252, 247);
    padding: 1rem;
}

h1 {
    text-align: center;
    margin-bottom: 3rem;
}

.table-of-content {
    background-color: bisque;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 2rem;
}

li {
    font-weight: bold;
    margin: 10px 0;
}

.box {
    border: 1px solid black;
    padding: 10px;
    margin: 20px 0;
}